.logo {
    display: flex;
    justify-content: center;
}

.home-text {
    width: 66%;
    text-align: justify;
}

#email-lg {
    display: inline;
}

#email-sm {
    display: none;
}

@media (max-width: 458px) {
    #email-sm {
        display: inline;
    }

    #email-lg {
        display: none;
    }
}

.slideshow {
    width: 50%;
    margin: auto;
    height: 10rem;
    margin-bottom: 3rem;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
  }

  @media (min-height: 700px) {
      .slideshow {
          position: fixed;
          left: 50%;
          bottom: 25%;
          transform: translate(-50%, 50%);

      }
  }