.navbar-page {
    border-bottom: 1px solid black;
    background-color: #e3f2fd;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand img {
    width: 15rem;
}

.mr-auto {
    margin-right: auto;
}