.product {
    display: inline-block;
    width: 15rem;
    min-height: 20rem;
    border: 1px solid black;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
}
.prod-image {
    max-width: 10rem;
}

@media (max-width: 768px) {
    .product {
        width: 100%;
    }
}

@media (max-width: 384px) {
    .product .description {
        display: none;
    }
}